.list-group {
    border: none;
}
button {
    background-color: none;
    border: none;
    padding: 10px 15px 8px 15px;
}
body, html {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", "Segoe UI", "Sans-Serif";
}
#wrapper {
    padding-left: 0;
    width: 100%;
    height: 100%;
}
#page-wrapper {
    position: absolute;
    top: 70px;
    bottom: 0px;
    padding: 50px 20px 20px 40px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%
}
a {
    cursor: pointer;
}
#page-wrapper::-webkit-scrollbar-track {
    background-color: #8e8e8e;
}
#page-wrapper::-webkit-scrollbar {
    width: 8px;
    background: #8e8e8e;
}
#page-wrapper::-webkit-scrollbar-thumb {
    background: #a3a3a3;
}
.huge {
    font-size: 50px;
    line-height: normal;
}
.loading-spinner {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.page-header {
	margin: 10px 0 15px 10px;
	color: #222;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
}
.page-header span {
    font-size: 16px;
    font-weight: 600;
}
.container-fluid {
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.clickable-rows tr {
    cursor: pointer;
}
.input-id {
    width: 100px;
    margin-bottom: 10px;
}
#alertWrapper {
    position: fixed;
    width: 50%;
    top: 0;
    right: 0;
}
.alertWrapper {
    position: fixed;
    width: 50%;
    top: 0;
    right: 0;
}
.alert {
    margin: 1px;
}
.input-default {
    width: 400px;
    margin-bottom: 10px;
}
.input-integer {
    width: 150px;
    margin-bottom: 10px;
}
.select-default {
    width: 400px;
}
.select-uf {
    width: 100px;
}
.text-area-default {
    width: 400px;
}
.form-inline {
    width: 100%;
}
.label-default {
    text-align: right;
    background: white;
}
.small-grid {
    width: 400px;
    height: 190px;
}
.small-div {
    height: 190px;
}
.radio {
    margin-top: 0px !important;
    padding-top: 0px !important;
}
.md-button {
    text-transform: none !important;
}
.label-subtitulo {
    text-align: center;
    font-weight: bold;
}
.input-data {
    width: 105px;
    margin-bottom: 10px;
}

/*******************************************************/
.fa {
    margin-right: 5px;
}
#topo-project {
    width: 100%;
    height: 50px;
    /*padding-top: 5px;*/
    /*box-shadow: 0px 0px 4px #232323;*/
}
#topo-project button {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-top: 20px;
}
#topo-project button .fa {
    margin-right: 0px;
}

/* MENU */

.aside-menu {
    background-color: #232323;
    position: absolute;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    min-height: 100%;
    max-height: 100%;
    width: 100px;
    display: block;
}
.open {
    display: block;
}
.aside-menu-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    -webkit-transform: none;
    transform: none;
    z-index: 1;
}
.aside-menu-animate {
    -webkit-transition: -webkit-transform 400ms ease;
    transition: transform 400ms ease;
}
.aside-back-drop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background: #000;
    opacity: 0.2;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.aside-back-drop.in {
    opacity: .1;
}
.menu-item-pai {
    color: #fff;
    padding-left: 10px;
}
.menu-top {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #232323;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    font-weight: bolder;
}
.menu-top img {
    float: left;
    margin: 25px 0 0 20px;
}
.limite-lista {
    overflow-x: auto;
    width: 100%;
    position: absolute;
    top: 200px;
    bottom: 51px;
}
.menu-rodape {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 40px;
    line-height: 40px
}
.list-menu {
    margin: 50px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
span.title-menu {
    text-transform: uppercase;
    font-size: 11px;
    margin: 25px 0px 10px 20px;
    display: list-item;
    color: #cf6638;
}
.list-menu, .list-menu ul li, .list-menu a {
    padding-left: 0px;
    list-style: none;
    color: #dee9ed;
}
.list-menu ul, .list-menu ul li {
    padding-left: 2px;
    margin-left: -2px;
    display: list-item;
}
.list-menu li a {
    white-space: nowrap;
    margin-left: 2px;
    padding-left: 2px;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    /*letter-spacing: 1px;*/
}
.list-menu li {
    border-left: rgba(0, 0, 0, 0) 2px solid;
    transition-duration: 0.3s;
}
.list-menu li:hover {
    /*background-color: #cf6638;*/
    border-left: #cf6638 15px solid;
    display: block;
    color: #ffffff;
}
.list-menu ul li:hover {
    z-index: 10;
    --border-left: #cc7000 2px solid;
    background-color: #263555;
}
.list-menu ul li a {
    white-space: nowrap;
    margin-left: 20px;
    text-transform: uppercase;
}
.list-menu a:hover {
    color: #ffffff;
}
.list-menu a {
    --padding: 5px 5px 5px 5px;
}
.list-menu i {
    margin-right: 10px;
}
.btn-menu {
    background-color: #232323;
    color: #fff;
    border-radius: 100px;
    outline: none;
}
.btn-menu:hover {
    background-color: #cf6638;
}
.limite-lista::-webkit-scrollbar-track {
    background-color: #6a758f;
}
.limite-lista::-webkit-scrollbar {
    width: 6px;
    background: #6a758f;
}
.limite-lista::-webkit-scrollbar-thumb {
    background: #55627e;
}
.btn-primario {
    background-color: #78b1cc;
    color: #333;
}
.btn-primario:hover {
    background-color: #1f7dab;
    color: #fff;
}
.btn-novo {
    background-color: #78b1cc;
    color: #333;
    margin-top: 12px;
    position: absolute;
}
.btn-novo:hover {
    background-color: #1f7dab;
    color: #fff;
}
.btn-padrao {
    background-color: #dddddd;
    color: #333;
}
.btn-padrao:hover {
    background-color: #a8a8a8;
    color: #fff;
}
.btn-cancelar {
    background-color: #fbb07f;
    color: #333;
}
.btn-cancelar:hover {
    background-color: #f88032;
    color: #fff;
}
.btn-finalizar {
    background-color: #81B3C1;
    color: #333;
}
.btn-finalizar:hover {
    background-color: #347283;
    color: #fff;
}
.btn-op-y {
    color: #555555;
}
.btn-op-n {
    color: #a15656;
}
.botao {
    padding: 11px 15px 10px 15px;
}
.botao:hover {
    text-decoration: none;
}
.botao {
    transition: all 0.3s linear;
    text-decoration: none;
}
[class^="btn-"] {
    transition: all 0.3s linear;
    text-decoration: none;
}
.rotulo {
    color: #1b7099;
}
h4 {
    color: #1b7099;
}
th {
    color: #111111;
    font-weight: 600;
    text-transform: uppercase;
}
tr {
    transition: all 0.3s linear;
}
.texto-centro {
    text-align: center;
}
.topo {
    position: relative;
    float: left;
    width: 100%;
    padding: 5px 20px 5px 10px;
    height: 5%;
    background-color: #fff;
}
.conteudo-100 {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.conteudo-lista {
    position: relative;
    min-height: 300px;
    max-height: 350px;
    overflow-x: auto;
    border-left: #efefef 1px solid;
}
.conteudo-lista::-webkit-scrollbar-track {
    background-color: #8e8e8e;
}
.conteudo-lista::-webkit-scrollbar {
    width: 8px;
    background: #8e8e8e;
}
.conteudo-lista::-webkit-scrollbar-thumb {
    background: #a3a3a3;
}
.rodape-pagina {
    border-top: #ccc 1px solid;
    margin-top: 10px;
    float: left;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 150px;
}
.content {
    overflow: hidden;
}
.aside {
    width: 200px;
}
.fleft {
    float: left;
}
.fright {
    float: right;
}
legend.standard {
    width: auto;
    margin-bottom: 0;
    padding-left: 10px;
    font-size: 14px;
    color: #1B7099;
    display: block;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-width: initial;
    border-style: none;
    border-color: initial;
}
legend.radio-standard {
    width: auto;
    margin-bottom: 0;
    padding-left: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #959595;
    display: block;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-width: initial;
    border-style: none;
    border-color: initial;
    margin-bottom: 10px;
}
fieldset.standard {
    border-style: solid;
    border-width: 1px;
    height: 100%;
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;
    border-color: threedface;
    padding-top: 12px;
    margin-top: 15px;
}
.conteudo-form {
    position: relative;
    top: 10px;
    bottom: 25px;
    overflow: auto;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
}
.rodape-form {
    background-color: #eee;
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 25px;
    line-height: 25px;
    background-color: red;
}
#rodape-site {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#03ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 20px;
    --line-height: 25px
}
.spc-topo {
    height: 10px;
    width: 100%;
}

md-dialog{
	min-width: 800px !important;
}

md-option {
    color: black;
    font-size: 12px;

}
.login-bod {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #efefef;
    overflow: hidden;
}
.fundo-topo {
    /*background-color: #30426a;*/
    background-image: url("../images/bg-login.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -225px;
    width: 400px;
    /*height: 300px;*/
    background-color: #fff;
    /*border-bottom: #cc7000 2px solid;*/
    z-index: 10;
    padding: 20px;
}
.texto-form .pull-right {
    /*position: absolute;*/
    bottom: 0;
    color: #666;
    font-size: 12px;
    padding: 0 40px 10px 0;
    font-weight: bold;
}
.linkDisabled {
    cursor: not-allowed;
    pointer-events: none;
    color: grey;
}
.table {
    margin: 30px 0 0 10px;
}
.table-bottom-margin{
    margin-bottom: 80px;
}
.padded{
	/*padding-left: 10px;*/
	padding-right: 10px;
}
.padded div{
    padding-right: 20px;
}

.procurar-top{
    width: 400px;
}

.center-content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: white;
	background: linear-gradient(transparent, white);
    background: -webkit-linear-gradient(transparent, white);
    background: -o-linear-gradient(transparent, white);
    background: -moz-linear-gradient(transparent, white);
}

.painelAcompanhamento {
    background-color: #CCCCCC;
    height: 108px;
    padding-bottom: 1px;
}

.painelAcompanhamento .hora {
    background-color: #FFFFFF;
    position: absolute;
    padding: 4px;
    left: 0;
    width: 107px;
    height: 107px;
}

.painelAcompanhamento .acao {
    background-color: #FFFFFF;
    position: absolute;
    padding: 4px;
    right: 0;
    height: 107px;
    width: 107px;
    display: flex;
    justify-content: center
}

.painelAcompanhamento .coleta {
    display: inline-block;
    position: absolute;
    left: 108px;
    right: 108px;
}

.painelAcompanhamento .coleta .nome {
    background-color: #FFFFFF;
    line-height: 30px;
    text-align: center;
}

.painelAcompanhamento .coleta .parametros {
    background-color: #F2F2F2;
    height: 77px;
    overflow-x: auto;
    overflow-y: hidden;
}

.painelAcompanhamento .coleta .parametros .column {
    white-space: nowrap;
    padding: 4px;
    width: 200px;
    border-right: solid 1px #CCC;
    min-width: 100px;
    text-align: center;
}

a.disabled {
    color: #AAAAAA;
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}

span.disable-links {
    pointer-events: none;
}

.selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
  .selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
  .selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }
  .selectdemoSelectHeader md-content._md {
    max-height: 240px; }


h1.titulo {
    margin-left: 0px;
    margin-bottom: 30px;
    color: #ccc;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
}

h1 span.subtitulo {
    font-size: 22.5px;
    /*color: #cc7000;*/
    color: #111111;
}

h3.titulo {
    margin-left: 10px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}
h3 span.subtitulo {
    font-size: 17px;
    color: #cf6638;
    font-weight: 600;
}
.form-cadastro {
    width: 100%;
    max-width: 900px;
/*    border: 1px solid red;*/
}
.form-cadastro input {
    /*border: 1px solid #888;*/
    padding: 10px;
}
md-tabs.md-default-theme .md-tab, 
md-tabs .md-tab {
    color: #111111;
}
.md-button {
    margin: 0 10px 0 0;
}
.md-button.md-default-theme.md-primary.md-raised, 
.md-button.md-primary.md-raised, 
.md-button.md-default-theme.md-primary.md-fab, 
.md-button.md-primary.md-fab {
    background-color: #111111;
}
md-tabs.md-default-theme .md-tab.md-active, 
md-tabs .md-tab.md-active, 
md-tabs.md-default-theme .md-tab.md-active md-icon, 
md-tabs .md-tab.md-active md-icon, 
md-tabs.md-default-theme .md-tab.md-focused, 
md-tabs .md-tab.md-focused, 
md-tabs.md-default-theme .md-tab.md-focused md-icon, 
md-tabs .md-tab.md-focused md-icon {
    color: #cf6638;
}
md-tabs.md-default-theme md-ink-bar, 
md-tabs md-ink-bar {
    background-color: #cf6638;
}
.md-block .fa-lg {
    margin-right: 20px;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, 
md-input-container:not(.md-input-invalid).md-input-focused .md-input, 
md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized .md-input, 
md-input-container:not(.md-input-invalid).md-input-resized .md-input {
    border-color: #111111;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label, 
md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #111111;
}
md-input-container.md-default-theme .md-input[disabled], 
md-input-container .md-input[disabled], [disabled] md-input-container.md-default-theme .md-input, 
[disabled] md-input-container .md-input {
    cursor: not-allowed;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar), 
md-toolbar:not(.md-menu-toolbar) {
    background-color: #111111;
}
.login-form {
    padding-top: 50px;
}
.login-form md-input-container {
    width: 99%;
    padding: 0 2%;
    margin-bottom: 0;
    margin-top: 10px;
}
.login-form md-input-container input {
    border: 1px solid #ccc;
    padding: 25px;
    padding-left: 35px;
}
.login-form md-input-container .md-input {
    border-radius: 3px;   
}
.login-form md-input-container label:not(.md-no-float):not(._md-container-ignore), 
.login-form md-input-container ._md-placeholder {
    padding: 0px 20px;
    margin-bottom: -10px;
    margin-left: 30px;
}
.login-form md-input-container.md-input-focused label:not(.md-no-float), 
.login-form md-input-container.md-input-has-placeholder label:not(.md-no-float), 
.login-form md-input-container.md-input-has-value label:not(.md-no-float) {
    padding: 12px 0px;
    margin-left: 8px;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label, 
md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #000;
}
.login-form .logo {
    background-image: url("../images/logo.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 90%;
    height: 60px;
    top: -100px;
    position: absolute;
}
.login-form .seta-top {
    background-image: url("../images/seta-top.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
    height: 20px;
    top: -20px;
    position: absolute;
}
.login-form input.user,
.login-form input.pass {
    background-position: 10px;
    background-repeat: no-repeat;
}
.login-form input.user {
    background-image: url("../images/icon-user.png");
}
.login-form input.pass {
    background-image: url("../images/icon-lock.png");
}
.login-form .md-button.md-default-theme.md-primary.md-raised, 
.login-form .md-button.md-primary.md-raised, 
.login-form .md-button.md-default-theme.md-primary.md-fab, 
.login-form .md-button.md-primary.md-fab {
    background-color: #444;
    width: 99%;
    margin: 0;
    padding: 2px;
    margin-bottom: 30px;
    height: 45px;
}
.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, 
.md-button.md-primary.md-raised:not([disabled]):hover, 
.md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, 

.md-button.md-primary.md-fab:not([disabled]):hover {
    background-color: #cf6638;
}
md-tabs-canvas {;
}
md-tabs[md-border-bottom] md-tabs-wrapper {
    margin-bottom: 30px;
}
md-input-container {
    margin-bottom: 0;
    margin-top: 20px;
}
.md-button.md-default-theme[disabled], 
.md-button[disabled], 
.md-button.md-default-theme.md-raised[disabled], 
.md-button.md-raised[disabled], 
.md-button.md-default-theme.md-fab[disabled], 
.md-button.md-fab[disabled], 
.md-button.md-default-theme.md-accent[disabled], 
.md-button.md-accent[disabled], 
.md-button.md-default-theme.md-warn[disabled], 
.md-button.md-warn[disabled] {
    background-color: rgba(0,0,0,0.12);
}
md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked ._md-icon,
md-checkbox:not([disabled]).md-primary.md-checked ._md-icon {
    background-color: green;
}
form, .conteudo {
    max-width: 80%;
}
.login-form form,
.login-form .conteudo {
    max-width: 100%;
}
form md-input-container, 
form md-checkbox {
    float: left;
    display: flex;
    width: 100%;
}
md-checkbox:last-of-type {
    margin-top: 25px;
}


.md-button.md-default-theme.md-primary.md-raised.laranjado, 
.md-button.md-primary.md-raised.laranjado:not([disabled]), 
.md-button.md-default-theme.md-primary.md-fab.laranjado, 
.md-button.md-primary.md-fab.laranjado {
    background-color: #cf6638;
}
.md-button.md-default-theme.md-primary.md-raised.laranjado:not([disabled]):hover, 
.md-button.md-primary.md-raised.laranjado:not([disabled]):hover, 
.md-button.md-default-theme.md-primary.md-fab.laranjado:not([disabled]):hover, 
.md-button.md-primary.md-fab.laranjado:not([disabled]):hover {
    background-color: #111111;
}
md-dialog .md-dialog-content {
    padding: 0 20px;
}
md-dialog .md-dialog-content .table {
    margin: 0;
}
.md-button.md-primary.md-fab:not([disabled]):hover{
    background-color: #000;
}
.login-form md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, 
.login-form md-input-container:not(.md-input-invalid).md-input-focused .md-input, 
.login-form md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized .md-input, 
.login-form md-input-container:not(.md-input-invalid).md-input-resized .md-input {
    border: 1px solid #ccc;
    border-bottom: 3px solid #000;
    padding-bottom: 23px;
    border-radius: 3px;
}
.md-button.md-default-theme.md-primary, .md-button.md-primary {
    color: #cf6638;
}
md-select-menu.md-default-theme md-content md-option[selected], md-select-menu md-content md-option[selected],
md-select-menu md-content md-option[selected]:focus  {
    color: #cf6638;
}
md-select.md-default-theme:not([disabled]):focus ._md-select-value, md-select:not([disabled]):focus ._md-select-value {
    border-bottom-color: #cf6638;
}
.md-button.md-default-theme.md-primary.md-raised:not([disabled]).md-focused, 
.md-button.md-primary.md-raised:not([disabled]).md-focused, 
.md-button.md-default-theme.md-primary.md-fab:not([disabled]).md-focused, 
.md-button.md-primary.md-fab:not([disabled]).md-focused {
    background-color: #111;
}