<md-dialog aria-label="Consulta de Clientes" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3 class="titulo">Cliente <span class="subtitulo">. Consulta</span></h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="fa fa-times" aria-label="Fechar"></i>
            </md-button>
        </div>
    </md-toolbar>
    <div layout="row" layout-wrap ng-cloak>            
        <div flex="30" style="margin-left: 20px;">
            <br>
            <md-input-container class="md-block">
                <label>Procurar...</label>
                <input type="text" ng-model="procurar" />
            </md-input-container>
        </div>
        <div flex="70"></div>
    </div>
    <md-dialog-content>
        <div class="md-dialog-content">
            <table class="table table-striped table-condensed table-hover table-font" cellspacing="0" width="100%" data-ng-init="init()">
                <thead>
                    <tr>
                        <th style="width: 80px">ID</th>
                        <th>Nome</th>
                        <th>CPF/CNPJ</th>
                        <th>E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="cliente in listaClientes|filter:procurar|itemsPerPage:15" ng-click="selecionar(cliente)">
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.cpfCnpj }}</td>
                        <td>{{ cliente.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <dir-pagination-controls></dir-pagination-controls>
    </md-dialog-actions>
</md-dialog>
