<!DOCTYPE html>
<html ng-app="app" ng-controller="indexController2">
<title>E-SUPERMARKET</title>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="pt-br" />

    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"/> -->
    <link rel="stylesheet" href="/plataformaWeb/css/roboto.css"/>
    <link rel="stylesheet" href="/plataformaWeb/lib/bootstrap-3.3.6-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/plataformaWeb/lib/font-awesome/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="/plataformaWeb/lib/angular/1.5.6/angular-material.css"/>
    <link rel="stylesheet" href="/plataformaWeb/lib/angular-tooltips/angular-tooltips.css"/>
    <link rel="stylesheet" href="/plataformaWeb/css/main.css"/>
    <link rel="icon"       href="/plataformaWeb/images/icon.png" type="image/png">
</head>
<body ng-cloak>
    <!--  div para apresentar o loading ao carregar páginas -->
    <div class="loading-spinner" us-spinner="{lines: 17, radius:20, width:6, length: 14, top: '50%', left: '50%', color: '#000', opacity: 0.1}">
    </div>
    <!-- menu -->
    <aside-menu id="sol2" side="left" width="300px" is-backdrop="false" push-content="true">
        <div class="menu-top">
            <img src="images/logo-interno.png">
        </div>
        <ul class="list-menu">
            <li><a href="#/"><span class="menu-item-pai"><i class="fa fa-fw fa-home"></i>Início</span></a></li>
            <span class="title-menu">Supermercado</span>
            <li ng-hide="{{!isAdmin}}"><a href="#/consultaSupermercado"><span class="menu-item-pai"><i class="fa fa-fw fa-shopping-cart"></i>Supermercados</span></a></li>
            <li><a href="#/consultaProduto"><span class="menu-item-pai"><i class="fa fa-fw fa-dropbox"></i>Produto</span></a></li>
            <li><a href="#/consultaOferta"><span class="menu-item-pai"><i class="fa fa-fw fa-certificate"></i>Oferta</span></a></li>
            <span class="title-menu">Cliente</span>
            <li><a href="#/consultaCliente"><span class="menu-item-pai"><i class="fa fa-fw fa-user"></i>Clientes</span></a></li>
            <li><a href="#/consultaPedido"><span class="menu-item-pai"><i class="fa fa-fw fa-fw fa-check-square-o"></i>Pedidos</span></a></li>
            <span class="title-menu">Configurações</span>
            <li><a href="#/consultaFormaPagamento"><span class="menu-item-pai"><i class="fa fa-fw fa-credit-card"></i>Formas de Pagamento</span></a></li>
            <span class="title-menu">Relatórios</span>
            <li><a href="#/relatorioProdutoVendido"><span class="menu-item-pai"><i class="fa fa-fw fa-credit-card"></i>Produto Vendido</span></a></li>
            <li><a href="#/relatorioPedido"><span class="menu-item-pai"><i class="fa fa-fw fa-credit-card"></i>Pedidos</span></a></li>
            <div class="menu-rodape">
                <li><a href="#/logout"><span class="menu-item-pai"><i class="fa fa-fw fa-lg fa-power-off"></i>Sair</span></a></li>
            </div>
        </ul>
    </aside-menu>
    <aside-menu-content>
        <div class="conteudo-total">
            <fieldset>
                <div id="topo-project">
                    <button type="button" aside-menu-toggle="sol2" class="btn-menu"><i class="fa fa-lg fa-bars"></i></button>
                </div>
                <div id="page-wrapper" style="min-width: 1024px" ng-view>
                </div>
                <div id="alertWrapper">
                </div>
                <div id="rodape-site">
                </div>
            </fieldset>
        </div>
    </aside-menu-content>


    <!-- LIBS -->
    <script src="/plataformaWeb/lib/jquery/jquery-2.2.4.js"></script>
    <script src="/plataformaWeb/lib/jquery/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="/plataformaWeb/lib/jquery/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="/plataformaWeb/lib/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <script src="/plataformaWeb/lib/angular/1.5.6/angular.min.js"></script>
    <script src="/plataformaWeb/lib/angular/1.5.6/angular-locale_pt-br.js"></script>
    <script src="/plataformaWeb/lib/angular/1.5.6/angular-route.min.js"></script>
    <script src="/plataformaWeb/lib/angular/1.5.6/angular-message-format.min.js"></script>
    <script src="/plataformaWeb/lib/angular/1.5.6/angular-loader.min.js"></script>
    <script src="/plataformaWeb/lib/angular/1.5.6/angular-resource.min.js"></script>
    <script src="/plataformaWeb/lib/angular/1.5.6/angular-aria.min.js"></script>
    <script src="/plataformaWeb/lib/angular/1.5.6/angular-animate.min.js"></script>
    <script src="/plataformaWeb/lib/angular/1.5.6/angular-messages.min.js"></script>
    <script src="/plataformaWeb/lib/angular/1.5.6/angular-material.js"></script>
    <script src="/plataformaWeb/lib/angular/1.5.6/angular-spinner.min.js"></script>
    <script src="/plataformaWeb/lib/angular/1.5.6/angular-cookies.min.js"></script>
    <script src="/plataformaWeb/lib/angular/ui-mask/ui-mask.min.js"></script>
    <script src="/plataformaWeb/lib/angular/angular-storage.js"></script>
    <script src="/plataformaWeb/lib/angular/palette.js"></script>
    <script src="/plataformaWeb/lib/moment.js"></script>
    <script src="/plataformaWeb/lib/moment-precise-range.js"></script>
    <script src="/plataformaWeb/lib/spin.min.js"></script>
    <script src="/plataformaWeb/lib/dirPagination.js"></script>
    <script src="/plataformaWeb/lib/FileSaver.min.js"></script>
    <script src="/plataformaWeb/lib/angular-input-masks/releases/angular-input-masks-standalone.js"></script>
    <script src="/plataformaWeb/js/aside-menu.min.js"></script>
    <script src="/plataformaWeb/js/util.js"></script>
    <script src="/plataformaWeb/lib/ui-sortable-src0.16.0/src/sortable.js"></script>
    <script src="/plataformaWeb/lib/angular-tooltips/angular-tooltips.js"></script>
    <!-- APLICATIVO -->
    <script src="/plataformaWeb/js/app.js"></script>
    <!-- DIRETIVAS -->
    <script src="/plataformaWeb/js/directive/diretivas.js"></script>
    <script src="/plataformaWeb/js/directive/angular-loading-spinner.js"></script>
    <!--<script src="/plataformaWeb/js/directive/angular-input-masks.br.js"></script>-->
    <!-- SERVICES -->
    <script src="/plataformaWeb/js/service/interceptorsService.js"></script>
    <script src="/plataformaWeb/js/service/utilService.js"></script>
    <script src="/plataformaWeb/js/service/consultas.js"></script>
    <!-- CONTROLLERS -->
    <script src="/plataformaWeb/js/controller/indexController.js"></script>
    <script src="/plataformaWeb/js/controller/supermercadoController.js"></script>
    <script src="/plataformaWeb/js/controller/clienteController.js"></script>
    <script src="/plataformaWeb/js/controller/produtoController.js"></script>
    <script src="/plataformaWeb/js/controller/ofertaController.js"></script>
    <script src="/plataformaWeb/js/controller/formaPagamentoController.js"></script>
    <script src="/plataformaWeb/js/controller/pedidoController.js"></script>
    <script src="/plataformaWeb/js/controller/relatorio/relatorioProdutoVendidoController.js"></script>
    <script src="/plataformaWeb/js/controller/relatorio/relatorioPedidoController.js"></script>

</body>
</html>
