<!DOCTYPE html>
<html ng-app="loginApp">
<title>E-SUPERMARKET</title>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="content-language" content="pt-br"/>

        <link rel="stylesheet" href="/plataformaWeb/lib/bootstrap-3.3.6-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/plataformaWeb/lib/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/plataformaWeb/lib/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="icon"       href="/plataformaWeb/images/icon.png" type="image/png">
        <link rel="stylesheet" href="/plataformaWeb/lib/angular/1.5.6/angular-material.css">
        <link rel="stylesheet" href="/plataformaWeb/css/main.css">
    </head>
    <body ng-cloak>
        <div class="login-bod">
            <div class="fundo-topo">
                <div class="col-md-12">
                    <div style="width: 100%; height: 100px;  margin-top: 20px; position: absolute;">
                        <div class="col-md-6" style="line-height: 90px; text-align:right; "></div>
                    </div>
                </div>
            </div>

            <div class="login-form" ng-controller="loginController">
                <div class="logo"></div>
                <div class="seta-top"></div>
                <form layout="row" layout-wrap ng-submit="login()">
                        <md-input-container class="md-block">
                            <label>Usuário ou e-mail</label>
                            <input ng-model="usuario.login" class="user" autofocus/>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Senha</label>
                            <input type="password" class="pass" ng-model="usuario.senha" />
                        </md-input-container>
                        <md-input-container class="md-block">
                            <md-button type="submit" class="md-primary md-raised button-login">Entrar</md-button>
                        </md-input-container>
                </form>
                <div class="row">
                    <div class="col-md-12 texto-form">
                        <div class="pull-right">Protótipo {{version}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="alertWrapper"/>

        <!-- LIBS -->
        <script src="/plataformaWeb/lib/jquery/jquery-2.2.4.js"></script>
        <script src="/plataformaWeb/lib/jquery/jquery-ui-1.12.1/jquery-ui.js"></script>
        <script src="/plataformaWeb/lib/jquery/jquery-ui-1.12.1/jquery-ui.min.js"></script>
        <script src="/plataformaWeb/lib/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
        <script src="/plataformaWeb/lib/angular/1.5.6/angular.min.js"></script>
        <script src="/plataformaWeb/lib/angular/1.5.6/angular-locale_pt-br.js"></script>
        <script src="/plataformaWeb/lib/angular/1.5.6/angular-route.min.js"></script>
        <script src="/plataformaWeb/lib/angular/1.5.6/angular-message-format.min.js"></script>
        <script src="/plataformaWeb/lib/angular/1.5.6/angular-loader.min.js"></script>
        <script src="/plataformaWeb/lib/angular/1.5.6/angular-resource.min.js"></script>
        <script src="/plataformaWeb/lib/angular/1.5.6/angular-aria.min.js"></script>
        <script src="/plataformaWeb/lib/angular/1.5.6/angular-animate.min.js"></script>
        <script src="/plataformaWeb/lib/angular/1.5.6/angular-messages.min.js"></script>
        <script src="/plataformaWeb/lib/angular/1.5.6/angular-material.js"></script>
        <script src="/plataformaWeb/lib/angular/1.5.6/angular-spinner.min.js"></script>
        <script src="/plataformaWeb/lib/angular/1.5.6/angular-cookies.min.js"></script>
        <script src="/plataformaWeb/lib/angular/angular-storage.js"></script>

        <script src="/plataformaWeb/js/app.js"></script>
        <script src="/plataformaWeb/js/directive/diretivas.js"></script>
        <script src="/plataformaWeb/js/directive/angular-loading-spinner.js"></script>
        <script src="/plataformaWeb/js/service/utilService.js"></script>
        <script src="/plataformaWeb/js/loginApp.js"></script>

    </body>
</html>
