<h1 class="titulo page-header">RELATÓRIO <span class="subtitulo">. Pedidos</span></h1>
<div class="conteudo" layout="column" ng-cloak ng-init="init()">
    <div flex layout="row" layout-wrap class="padded">
        <div flex="10">
            <md-input-container class="md-block">
                <label>PRODUTO</label>
                <input type="number" ng-model="filtro.produto.id" disabled>
            </md-input-container>
        </div>
        <div flex="5">
            <md-input-container class="md-block">
                <a href="" ng-click="dialogProduto($event)">
                    <i class="fa fa-search fa-lg"/>
                </a>
            </md-input-container>
        </div>
        <div flex="25">
            <md-input-container class="md-block">
                <label>Descrição do Produto </label>
                <input type="text" ng-model="filtro.produto.descricao" disabled>
            </md-input-container>
        </div>
        <div flex="60"/>
        <div flex="10">
            <md-input-container class="md-block">
                <label>Cliente</label>
                <input type="number" ng-model="filtro.cliente.id" disabled>
            </md-input-container>
        </div>
        <div flex="5">
            <md-input-container class="md-block">
                <a href="" ng-click="dialogCliente($event)">
                    <i class="fa fa-search fa-lg"/>
                </a>
            </md-input-container>
        </div>
        <div flex="25">
            <md-input-container class="md-block">
                <label>Nome Cliente </label>
                <input type="text" ng-model="filtro.cliente.nome" disabled>
            </md-input-container>
        </div>
        <div flex="60"/>
        <div flex="15">
            <md-select ng-model="filtro.status">
                <md-option ng-value="s.id" ng-repeat="s in status">{{s.descricao}}</md-option>
            </md-select>
        </div>
        <div flex="12">
            <md-input-container class="md-block">
                <label>Data Inicial</label>
                <input ng-model="filtro.dataInicial" type="date" required style="text-align: center"/>
            </md-input-container>
        </div>
        <div flex="12">
            <md-input-container class="md-block">
                <label>Data Final</label>
                <input  ng-model="filtro.dataFinal" type="date" required style="text-align: center"/>
            </md-input-container>
        </div>
        <div flex="55"/>
        <div flex="auto">
            <md-input-container class="md-block">
                <md-button class="md-primary md-raised" ng-click="emitir(filtro)"> Emitir Relatório </md-button>
                <md-button class="md-primary md-raised" ng-click="limpar()"> Limpar </md-button>
            </md-input-container>
        </div>
    </div>
</div>