<h1 class="titulo page-header">RELATÓRIO <span class="subtitulo">. Produto Mais Vendido</span></h1>
<div class="conteudo" layout="column" ng-cloak ng-init="init()">
    <div flex layout="row" layout-wrap class="padded">
        <div flex="12">
            <md-input-container class="md-block">
                <label>Data Inicial</label>
                <input ng-model="filtro.dataInicial" type="date" required style="text-align: center"/>
            </md-input-container>
        </div>
        <div flex="12">
            <md-input-container class="md-block">
                <label>Data Final</label>
                <input  ng-model="filtro.dataFinal" type="date" required style="text-align: center"/>
            </md-input-container>
        </div>
        <div flex="80"/>
        <div flex="auto">
            <md-input-container class="md-block">
                <md-button class="md-primary md-raised" ng-click="emitir(filtro)"> Emitir Relatório </md-button>
                <md-button class="md-primary md-raised" ng-click="limpar()"> Limpar </md-button>
            </md-input-container>
        </div>
    </div>
</div>