<form name="clienteForm" ng-submit="salvar(cliente)" class="form-horizontal" novalidate>
    <h1 class="titulo page-header">CLIENTE <span class="subtitulo">. {{cliente.id ? 'EDITAR' : 'CADASTRAR'}}</span></h1>
    <div class="conteudo" layout="row" layout-wrap class="padded" ng-cloak ng-init="initEdit()">
        <md-tabs flex="100" md-dynamic-height md-border-bottom>
            <md-tab label="Home">
                <div layout="row" layout-wrap class="padded">
                    <div flex="10">
                        <md-input-container class="md-block">
                            <label>ID</label>
                            <input ng-model="cliente.id" disabled/>
                        </md-input-container>
                    </div>
                    <div flex="90">
                        <md-checkbox ng-model="cliente.indicadorUso" class="md-primary" ng-true-value="1" ng-false-value="2" required>
                            Ativo
                         </md-checkbox>
                    </div>
                    <div flex="90"/>
                    <div flex="40" ng-class="{ 'has-error' : clienteForm.clienteNome.$invalid && !clienteForm.clienteNome.$pristine }">
                        <md-input-container class="md-block">
                            <label>Nome</label>
                            <input maxlength="50" name="clienteNome" ng-model="cliente.nome" required>
                            <!--<p ng-show="clienteForm.clienteNome.$invalid && !clienteForm.clienteNome.$pristine" class="help-block">Seu nome é obrigatório</p>-->
                        </md-input-container>
                    </div>
                    <div flex="40">
                        <md-input-container class="md-block">
                            <label>E-mail</label>
                            <input ng-model="cliente.email" type="email" pattern="[^ @]*@[^ @]*" required/>
                        </md-input-container>
                    </div>
                    <div flex="20">
                        <md-input-container class="md-block">
                            <label>Telefone</label>
                            <input minlength="13" maxlength="14" ng-model="cliente.telefone" ui-br-phone-number required>
                        </md-input-container>
                    </div>
                    <div flex="20">
                        <md-input-container class="md-block">
                            <label>CPF/CNPJ</label>
                            <input minlength="14" maxlength="18" ng-model="cliente.cpfCnpj" ui-br-cpfcnpj-mask required/>
                        </md-input-container>
                    </div>
                    <div flex="10">
                        <md-input-container class="md-block">
                            <label>RG</label>
                            <input maxlength="12" ng-model="cliente.rg" ui-mask="99.999.999-9" ui-mask-placeholder ui-mask-placeholder-char="_">
                        </md-input-container>
                    </div>
                    <div flex="15">
                        <md-checkbox ng-model="cliente.tipo" class="md-primary" ng-true-value="1" ng-false-value="4">
                            Pessoa Física
                         </md-checkbox>
                    </div>
                </div>
            </md-tab>
            <md-tab label="Endereço">
                <div layout="row" layout-wrap class="padded">
                    <div flex="15">
                        <md-input-container class="md-block">
                            <label>CEP</label>
                            <input ng-model="cliente.endereco.cep.codigo" ui-mask="99999-999" ui-mask-placeholder ui-mask-placeholder-char="_" required>
                        </md-input-container>
                    </div>
                    <div flex="45">
                        <md-input-container class="md-block">
                            <label>Rua</label>
                            <input maxlength="60" minlength="1" ng-model="cliente.endereco.rua" required/>
                        </md-input-container>
                    </div>
                    <div flex="10">
                        <md-input-container class="md-block">
                            <label>N°</label>
                            <input maxlength="5" ng-model="cliente.endereco.numero" required/>
                        </md-input-container>
                    </div>
                    <div flex="30">
                        <md-input-container class="md-block">
                            <label>Complemento</label>
                            <input maxlength="60" ng-model="cliente.endereco.complemento">
                        </md-input-container>
                    </div>
                    <div flex="30">
                        <md-input-container class="md-block">
                            <label>Bairro</label>
                            <input maxlength="30" ng-model="cliente.endereco.bairro.nome" required/>
                        </md-input-container>
                    </div>
                    <div flex="30">
                        <md-input-container class="md-block">
                            <label>Municipio</label>
                            <input maxlength="40" ng-model="cliente.endereco.municipio.nome" required/>
                        </md-input-container>
                    </div>
                    <div flex="10">
                        <md-input-container class="md-block">
                            <label>UF</label>
                            <input maxlength="2" minlength="2" ng-model="cliente.endereco.municipio.uf" required/>
                        </md-input-container>
                    </div>
                </div>
            </md-tab>
            <md-tab label="Cartões">
                <div layout="row" layout-wrap class="padded">
                    <div flex="20">
                        <md-select ng-model="cartao.tipo">
                            <md-option ng-value="">Selectione o seu tipo de cartão..</md-option>
                            <md-option ng-value="tipo.id" ng-repeat="tipo in tipoCartao">{{tipo.descricao}}</md-option>
                        </md-select>
                    </div>
                    <div flex="15">
                        <md-select ng-model="cartao.bandeira">
                            <md-option ng-value="">Selecione a bandeira..</md-option>
                            <md-option ng-value="bandeira.id" ng-repeat="bandeira in bandeiraCartao">{{bandeira.descricao}}</md-option>
                        </md-select>
                    </div>
                    <div flex="20">
                        <md-input-container class="md-block">
                            <label>Número do cartão</label>
                            <input minlength="16" maxlength="16" ng-model="cartao.numeroCartao" ui-credit-card-mask/>
                        </md-input-container>
                    </div>
                    <div flex="10">
                        <md-input-container class="md-block">
                            <label>Data Expiração</label>
                            <input ng-pattern="MM/YYYY" ui-mask="99/9999" ng-model="cartao.dataExpiracao"/>
                        </md-input-container>
                    </div>
                    <div flex="10">
                        <md-input-container class="md-block">
                            <label>Código de Segurança</label>
                            <input minlength="3" maxlength="3" ng-pattern="MM/YYYY" ng-model="cartao.codigoSeguranca"/>
                        </md-input-container>
                    </div>
                    <div flex="25">
                        <md-input-container class="md-block">
                            <label>Nome Impresso</label>
                            <input maxlength="50" ng-model="cartao.nomeImpresso"/>
                        </md-input-container>
                    </div>
                    <div flex="7">
                        <md-input-container class="md-block">
                            <md-button ng-click="adicionarCartao(cartao)" ng-disabled="!cartao.nomeImpresso && !cartao.codigoSeguranca && !cartao.dataExpiracao && !cartao.numeroCartao" class="md-primary md-raised laranjado">&nbsp;&nbsp;<i class="fa fa-credit-card"></i> Adicionar&nbsp;&nbsp;</md-button>
                        </md-input-container>
                    </div>
                </div>
                <div flex="100">
                   <table class="table table-striped table-condensed table-hover table-font" cellspacing="0">
                       <thead>
                           <tr>
                               <th>Tipo</th>
                               <th>Bandeira</th>
                               <th>Número</th>
                               <th>Nome Impresso</th>
                               <th>Data Expiração</th>
                               <th>Código Segurança</th>
                               <th>Ação</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr ng-repeat="cartao in cliente.cartoes">
                               <td>{{tipoCartao[ (cartao.tipo -1)].descricao}}</td>
                               <td>{{bandeiraCartao[ (cartao.bandeira-1)].descricao}}</td>
                               <td>{{cartao.numeroCartao}}</td>
                               <td>{{cartao.nomeImpresso}}</td>
                               <td>{{cartao.dataExpiracao | date : 'MM/yyyy'}}</td>
                               <td>{{cartao.codigoSeguranca}}</td>
                               <td style="vertical-align: middle;">
                                   <i class="fa fa-remove fa-lg btn-op-n" ng-click="excluirCartao(cartao)"></i>
                               </td>
                           </tr>
                       </tbody>
                   </table>
               </div>
            </md-tab>
        </md-tabs>
    <div layout="row" flex="100" class="padded">
        <div flex="40">
         <md-input-container class="md-block">
              <md-button type="submit" ng-disabled="clienteForm.$invalid" class="md-primary md-raised">&nbsp;&nbsp;<i class="fa fa-floppy-o"></i> {{cliente.id ? 'Salvar' : 'Cadastrar'}}&nbsp;&nbsp;</md-button>
          </md-input-container>
        </div>
        <div flex="60" style="text-align: right;">
        <md-input-container class="md-block" style="float: right;">
            <md-button ng-click="voltar()" class="md-primary md-raised">&nbsp;&nbsp;<i class="fa fa-arrow-circle-o-left"></i>&nbsp;&nbsp;Voltar&nbsp;&nbsp;</md-button>
        </md-input-container><br><br>
        </div>
    </div>
</form>
