<h1 class="titulo">Produto <span class="subtitulo">. Consulta</span></h1>
<div class="conteudo" layout="column" ng-cloak ng-init="init()">
    <div flex layout="row" layout-wrap class="padded">
        <div flex="auto">
            <md-input-container class="md-block">
                <md-button href="#/cadastrarProduto" class="md-primary md-raised"><i class="fa fa-plus"></i> Novo </md-button>
            </md-input-container>
        </div>
        <div class="procurar-top">
            <md-input-container class="md-block">
                <label>Procurar...</label>
                <input type="text" ng-model="procurar"/>
            </md-input-container>
        </div>
    </div>
    <table class="table table-striped table-condensed table-hover table-font" cellspacing="0" width="100%" >
        <thead>
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Valor</th>
                <th>Marca</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="produto in listaProduto|filter:procurar|itemsPerPage:30">
                <td>{{ produto.id }}</td>
                <td>{{ produto.descricao }}</td>
                <td>{{ produto.quantidade}}</td>
                <td>{{ produto.valor}}</td>
                <td>{{ produto.marca}}</td>
                <td>
                    <a href="#/editarProduto/{{produto.id}}">
                        <i class="fa fa-edit fa-lg btn-op-y"></i>
                    </a>
                    <a href="" ng-click="excluir(produto)">
                        <i class="fa fa-trash fa-lg btn-op-n"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="center-content">
    <dir-pagination-controls max-size="5" boundary-links="true" direction-links="true"></dir-pagination-controls>
</div>
