<h1 class="titulo">Pedido <span class="subtitulo">. Consulta</span></h1>
<div class="conteudo" layout="column" ng-cloak ng-init="init()">
    <div flex layout="row" layout-wrap class="padded">
        <div flex="auto">
            <md-input-container class="md-block">
                <md-button href="#/cadastrarPedido" class="md-primary md-raised"><i class="fa fa-plus"></i> Novo </md-button>
            </md-input-container>
        </div>
        <div class="procurar-top">
            <md-input-container class="md-block">
                <label>Procurar...</label>
                <input type="text" ng-model="procurar"/>
            </md-input-container>
        </div>
    </div>
    <table class="table table-striped table-condensed table-hover table-font" cellspacing="0" width="100%" >
        <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Data</th>
            <th>Situação</th>
            <th>Qtd. Itens</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="pedido in listaPedido|filter:procurar|itemsPerPage:30">
            <td>{{ pedido.id }}</td>
            <td>{{ pedido.cliente.nome }}</td>
            <td>{{ pedido.data | date : 'dd/MM/yyyy'}}</td>
            <td>{{ pedido.situacao}}</td>
            <td>{{ pedido.itens.length}}</td>
            <td>
                <a href="#/editarPedido/{{pedido.id}}">
                    <i class="fa fa-edit fa-lg btn-op-y"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="center-content">
    <dir-pagination-controls max-size="5" boundary-links="true" direction-links="true"></dir-pagination-controls>
</div>
