<h1 class="titulo page-header">CLIENTE <span class="subtitulo">. Consulta</span></h1>
<div class="conteudo" layout="column" ng-cloak ng-init="init()">
    <div flex layout="row" layout-wrap class="padded">
        <div flex="auto">
            <md-input-container class="md-block">
                <md-button href="#/cadastrarCliente" class="md-primary md-raised"><i class="fa fa-plus"></i> Novo </md-button>
            </md-input-container>
        </div>
        <div class="procurar-top">
            <md-input-container class="md-block">
                <label>Procurar...</label>
                <input type="text" ng-model="procurar"/>
            </md-input-container>
        </div>
    </div>
    <table class="table table-striped table-condensed table-hover table-font" cellspacing="0" width="100%" >
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF/CNPJ</th>
                <th>Endereço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="cliente in listaClientes|filter:procurar|itemsPerPage:30">
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.cpfCnpj}}</td>
                <td>{{cliente.endereco.rua}},
                    {{cliente.endereco.bairro.nome}},
                    {{cliente.endereco.municipio.nome}}
                    ({{cliente.endereco.municipio.uf}}),
                    {{cliente.endereco.cep.codigo}},
                    N° {{cliente.endereco.numero}}</td>
                <td>
                    <a href="#/editarCliente/{{cliente.id}}">
                        <i class="fa fa-edit fa-lg btn-op-y"></i>
                    </a>
                    <a href="" ng-click="excluir(cliente)">
                        <i class="fa fa-trash fa-lg btn-op-n"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="center-content">
    <dir-pagination-controls max-size="5" boundary-links="true" direction-links="true"></dir-pagination-controls>
</div>
