<h1 class="titulo">SUPERMERCADOS <span class="subtitulo">. Consulta</span></h1>
<div class="conteudo" layout="column" ng-cloak ng-init="init()">
    <div flex layout="row" layout-wrap class="padded">
        <div flex="auto">
            <md-input-container class="md-block">
                <md-button href="#/cadastrarSupermercado" class="md-primary md-raised"><i class="fa fa-plus"></i> Novo </md-button>
            </md-input-container>
        </div>
        <div class="procurar-top">
            <md-input-container class="md-block">
                <label>Procurar...</label>
                <input type="text" ng-model="procurar"/>
            </md-input-container>
        </div>
    </div>
   <table class="table table-striped table-condensed table-hover table-font" cellspacing="0">
       <thead>
           <tr>
               <th>ID</th>
               <th>CNPJ</th>
               <th>Razão Social</th>
               <th>Endereço</th>
               <th>Status</th>
               <th>Ação</th>
           </tr>
       </thead>
       <tbody>
           <tr dir-paginate="supermercado in listaSupermercado|filter:procurar|itemsPerPage:30">
               <td>{{supermercado.id}}</td>
               <td>{{supermercado.cnpj}}</td>
               <td>{{supermercado.razaoSocial}}</td>
               <td>{{supermercado.endereco.rua}},
                   {{supermercado.endereco.bairro.nome}},
                   {{supermercado.endereco.municipio.nome}}
                   ({{supermercado.endereco.municipio.uf}}),
                   {{supermercado.endereco.cep.codigo}},
                  N° {{supermercado.endereco.numero}}</td>
               <td>{{status[ (supermercado.indicadorUso-1)] }}</td>
               <td style="vertical-align: middle;">
                   <a href="#/editarSupermercado/{{supermercado.id}}">
                        <i class="fa fa-edit fa-lg btn-op-y"></i>
                    </a>
                    <a href="" ng-click="excluir(supermercado)">
                        <i class="fa fa-trash fa-lg btn-op-n"></i>
                    </a>
               </td>
           </tr>
        </tbody>
    </table>
</div>
<div class="center-content">
    <dir-pagination-controls max-size="5" boundary-links="true" direction-links="true"></dir-pagination-controls>
</div>
