<form name="produtoForm" ng-submit="salvar(formaPagamento)" class="form-horizontal" novalidate>
    <h1 class="titulo">Formas de Pagamento <span class="subtitulo">. {{formaPagamento.id ? 'EDITAR' : 'CADASTRAR'}}</span></h1>
    <div class="conteudo" layout="row" layout-wrap class="padded" ng-cloak ng-init="initEdit()">
        <div flex="10">
            <md-input-container class="md-block">
                <label>ID</label>
                <input ng-model="formaPagamento.id" disabled/>
            </md-input-container>
        </div>
        <div flex="5"></div>
        <div flex="15">
            <md-checkbox ng-model="formaPagamento.indicadorUso" class="md-primary" ng-true-value="1" ng-false-value="2">
                Ativo
            </md-checkbox>
        </div>
        <div flex="15">
            <md-checkbox ng-model="formaPagamento.indicadorCartaoCredito" class="md-primary" ng-true-value="1" ng-false-value="2">
                Cartão Crédito
            </md-checkbox>
        </div>
        <div flex="90" />
        <div flex="100">
            <md-input-container class="md-block">
                <label>Descrição</label>
                <input maxlength="40" ng-model="formaPagamento.descricao" required/>
            </md-input-container>
        </div>
        
        </div>
  <div class="conteudo" layout="row" flex="100" class="padded">
      <div flex="40">
         <md-input-container class="md-block">
          <md-button type="submit" class="md-primary md-raised">&nbsp;&nbsp;<i class="fa fa-floppy-o"></i> {{formaPagamento.id ? 'Salvar' : 'Cadastrar'}}&nbsp;&nbsp;</md-button>
      </md-input-container>
    </div>
    <div flex="60" style="text-align: right;">
        <md-input-container class="md-block" style="float: right;">
            <md-button ng-click="voltar()" class="md-primary md-raised">&nbsp;&nbsp;<i class="fa fa-arrow-circle-o-left"></i>&nbsp;&nbsp;Voltar&nbsp;&nbsp;</md-button>
        </md-input-container><br><br>
    </div>
  </div>
</div>
</form>