<h1 class="titulo">OFERTA <span class="subtitulo">. {{oferta.id ? 'EDITAR' : 'CADASTRAR'}}</span></h1>
<form name="ofertaForm" ng-submit="salvar(oferta)" class="form-horizontal" novalidate>
    <div class="conteudo" layout="row" layout-wrap class="padded" ng-cloak ng-init="initEdit()">
        <md-tabs flex="100" md-dynamic-height md-border-bottom>
            <md-tab label="Home">
                <div layout="row" layout-wrap>
                    <div flex="10">
                        <md-input-container class="md-block">
                            <label>ID</label>
                            <input ng-model="oferta.id" disabled/>
                        </md-input-container>
                    </div>
                    <div flex="90" />
                    <div flex="40">
                        <md-input-container class="md-block">
                            <label>Descrição</label>
                            <input maxlength="60" ng-model="oferta.descricao" required/>
                        </md-input-container>
                    </div>
                    <div flex="20">
                        <md-input-container class="md-block">
                            <label>Data Cadastro</label>
                            <input ng-model="oferta.dataCadastro" type="date" required/>
                        </md-input-container>
                    </div>
                    <div flex="20">
                        <md-input-container class="md-block">
                            <label>Data Ínicio</label>
                            <input ng-model="oferta.dataInicio" type="date" required/>
                        </md-input-container>
                    </div>
                    <div flex="20">
                        <md-input-container class="md-block">
                            <label>Data Fim</label>
                            <input ng-model="oferta.dataFim" type="date" required/>
                        </md-input-container>
                    </div>
                    <div flex="100">
                        <md-input-container class="md-block">
                            <label>OBS</label>
                            <input maxlength="60" ng-model="oferta.obs" />
                        </md-input-container>
                    </div>
                    <div flex="100">
                        <img src="{{produto.qrCode}}" style="height: 100px; width: 120px" ng-hide="!produto.qrCode"/>
                    </div>
                </div>
            </md-tab>
            <md-tab label="Produtos">
                <div layout="row" layout-wrap class="padded">
                    <div flex="15">
                        <md-input-container class="md-block">
                            <label>Produto</label>
                            <input type="number" ng-model="item.produto.id" disabled>
                        </md-input-container>
                    </div>
                    <div flex="5">
                        <md-input-container class="md-block">
                            <a href="" ng-click="dialogProduto($event)">
                                <i class="fa fa-search fa-lg"/>
                            </a>
                        </md-input-container>
                    </div>
                    <div flex="25">
                        <md-input-container class="md-block">
                            <label>Descrição Produto </label>
                            <input type="text" ng-model="item.produto.descricao" disabled>
                        </md-input-container>
                    </div>
                    <div flex="20">
                        <md-input-container class="md-block">
                            <label>Quantidade</label>
                            <input type="number" ng-model="item.quantidade" maxlength="11" ng-disabled="!item.produto">
                        </md-input-container>
                    </div>
                    <div flex="20">
                        <md-input-container class="md-block">
                            <label>Quantidade Disponível</label>
                            <input type="number" ng-model="item.quantidadeDisponivel" maxlength="11" ng-disabled="!item.produto">
                        </md-input-container>
                    </div>
                    <div flex="15">
                        <md-input-container class="md-block">
                            <label>Valor</label>
                            <input ui-money-mask ng-model="item.valor" maxlength="11" ng-disabled="!item.produto">
                        </md-input-container>
                    </div>
                    <div flex="100">
                        <md-button ng-click="adicionarItem(item)" class="md-primary md-raised laranjado">&nbsp;&nbsp;<i class="fa fa-shopping-cart"></i> Adicionar&nbsp;&nbsp;</md-button>
                    </div><br><br>
                </div>
                <table class="table table-striped table-condensed table-hover table-font" cellspacing="0" width="100%" >
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Quantidade</th>
                        <th>Quantidade Disponível</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="item in oferta.produtos|filter:procurar|itemsPerPage:30">
                        <td>{{ item.produto.id }}</td>
                        <td>{{ item.produto.descricao }}</td>
                        <td>{{ item.valor }}</td>
                        <td>{{ item.quantidade }}</td>
                        <td>{{ item.quantidadeDisponivel }}</td>
                        <td>
                            <a ng-click="editarItem(item)">
                                <i class="fa fa-edit fa-lg btn-op-y"></i>
                            </a>
                            <a ng-click="excluirItem(item)">
                                <i class="fa fa-trash fa-lg btn-op-n"/>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table><br><Br>
            </md-tab>
        </md-tabs>
        <div flex="40">
            <md-input-container class="md-block">
                <md-button type="submit" ng-disabled="ofertaForm.$invalid" class="md-primary md-raised">&nbsp;&nbsp;<i class="fa fa-floppy-o"></i> {{oferta.id ? 'Salvar' : 'Cadastrar'}}&nbsp;&nbsp;</md-button>
            </md-input-container>
        </div>
        <div flex="60" style="text-align: right;">
            <md-input-container class="md-block" style="float: right;">
                <md-button ng-click="voltar()" class="md-primary md-raised">&nbsp;&nbsp;<i class="fa fa-arrow-circle-o-left"></i>&nbsp;&nbsp;Voltar&nbsp;&nbsp;</md-button>
            </md-input-container><br><br>
        </div>
    </div>
</form>
