<form name="produtoForm" ng-submit="salvar(pedido)" class="form-horizontal" novalidate>
    <h1 class="titulo">Pedido <span class="subtitulo">. {{pedido.id ? 'EDITAR' : 'CADASTRAR'}}</span></h1>
    <div class="conteudo" layout="row" layout-wrap class="padded" ng-cloak ng-init="initEdit()">
        <md-tabs flex="100" md-dynamic-height md-border-bottom>
            <md-tab label="Home">
                <div layout="row" layout-wrap class="padded">
                    <div flex="10">
                        <md-input-container class="md-block">
                            <label>ID</label>
                            <input ng-model="pedido.id" disabled/>
                        </md-input-container>
                    </div>
                    <div flex="90" />
                    <div flex="10">
                        <md-input-container class="md-block">
                            <label>CLIENTE</label>
                            <input type="number" ng-model="pedido.cliente.id" disabled>
                        </md-input-container>
                    </div>
                    <div flex="5">
                        <md-input-container class="md-block">
                            <a href="" ng-click="dialogCliente($event)">
                                <i class="fa fa-search fa-lg"/>
                            </a>
                        </md-input-container>
                    </div>
                    <div flex="85">
                        <md-input-container class="md-block">
                            <label>Nome do Cliente</label>
                            <input type="text" ng-model="pedido.cliente.nome" disabled>
                        </md-input-container>
                    </div>
                    <div flex="10">
                        <md-input-container class="md-block">
                            <label>OFERTA</label>
                            <input type="number" ng-model="pedido.oferta.id" disabled>
                        </md-input-container>
                    </div>
                    <div flex="5">
                        <md-input-container class="md-block">
                            <a href="" ng-click="dialogOferta($event)">
                                <i class="fa fa-search fa-lg"/>
                            </a>
                        </md-input-container>
                    </div>
                    <div flex="auto">
                        <md-input-container class="md-block">
                            <label>Descrição da Oferta</label>
                            <input type="text" ng-model="pedido.oferta.descricao" disabled>
                        </md-input-container>
                    </div>
                    <div flex="15">
                        <md-input-container class="md-block">
                            <label>Formas de Pagamento</label>
                            <md-select ng-model="pedido.formaPagamento" ng-model-options="{trackBy: '$value.id'}">
                                <md-option ng-value="forma" ng-repeat="forma in listaFormas">{{forma.descricao}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex="15">
                        <md-input-container class="md-block">
                            <label>Situação do Pedido</label>
                            <md-select ng-model="pedido.situacao">
                                <md-option ng-repeat="(key, value) in descSituacao" ng-value="{{key}}">{{ value }}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex="15">
                        <md-input-container class="md-block">
                            <label>Data</label>
                            <input type="date" ng-model="pedido.data">
                        </md-input-container>
                    </div>
                    <div flex="100">
                        <md-input-container class="md-block">
                            <label>OBS</label>
                            <input maxlength="255" ng-model="pedido.obs">
                        </md-input-container>
                    </div>
                </div>
            </md-tab>
            <md-tab label="Produtos">
                <div layout="row" layout-wrap class="padded">
                    <div flex="10">
                        <md-input-container class="md-block">
                            <label>PRODUTO</label>
                            <input type="number" ng-model="item.produto.id" disabled>
                        </md-input-container>
                    </div>
                    <div flex="5">
                        <md-input-container class="md-block">
                            <a href="" ng-click="dialogProduto($event)">
                                <i class="fa fa-search fa-lg"/>
                            </a>
                        </md-input-container>
                    </div>
                    <div flex="25">
                        <md-input-container class="md-block">
                            <label>Descrição do Produto </label>
                            <input type="text" ng-model="item.produto.descricao" disabled>
                        </md-input-container>
                    </div>
                    <div flex="20">
                        <md-input-container class="md-block">
                            <label>Quantidade</label>
                            <input type="number" ng-model="item.quantidade" maxlength="11" ng-disabled="!item.produto">
                        </md-input-container>
                    </div>
                    <div flex="20">
                        <md-input-container class="md-block">
                            <label>Quantidade Disponível</label>
                            <input type="number" ng-model="item.quantidadeDisponivel" maxlength="11" ng-disabled="!item.produto">
                        </md-input-container>
                    </div>
                    <div flex="10">
                        <md-input-container class="md-block">
                            <label>Valor</label>
                            <input ui-money-mask ng-model="item.valor" maxlength="11" ng-disabled="!item.produto">
                        </md-input-container>
                    </div>
                    <div flex="100">
                        <md-button ng-click="adicionarItem(item)" class="md-primary md-raised laranjado">&nbsp;&nbsp;<i class="fa fa-shopping-cart"></i> Adicionar&nbsp;&nbsp;</md-button>
                    </div><br><br>

                </div>
                <table class="table table-striped table-condensed table-hover table-font" cellspacing="0" width="100%" >
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Quantidade</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="item in pedido.itens|filter:procurar|itemsPerPage:30">
                        <td>{{ item.produto.id }}</td>
                        <td>{{ item.produto.descricao }}</td>
                        <td>{{ item.valor }}</td>
                        <td>{{ item.quantidade }}</td>
                        <td>
                            <a ng-click="editarItem(item)">
                                <i class="fa fa-edit fa-lg btn-op-y"></i>
                            </a>
                            <a ng-click="excluirItem(item)">
                                <i class="fa fa-trash fa-lg btn-op-n"/>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table><br><br>
            </md-tab>
        </md-tabs>
    </div>
    <div class="conteudo" layout="row" flex="100" class="padded">
      <div flex="40">
         <md-input-container class="md-block">
          <md-button type="submit" class="md-primary md-raised">&nbsp;&nbsp;<i class="fa fa-floppy-o"></i> {{pedido.id ? 'Salvar' : 'Cadastrar'}}&nbsp;&nbsp;</md-button>
      </md-input-container>
    </div>
    <div flex="60" style="text-align: right;">
        <md-input-container class="md-block" style="float: right;">
            <md-button ng-click="voltar()" class="md-primary md-raised">&nbsp;&nbsp;<i class="fa fa-arrow-circle-o-left"></i>&nbsp;&nbsp;Voltar&nbsp;&nbsp;</md-button>
        </md-input-container><br><br>
    </div>
  </div>
</form>
