<form name="produtoForm" ng-submit="salvar(produto)" class="form-horizontal" novalidate>
    <h1 class="titulo">Produto <span class="subtitulo">. {{produto.id ? 'EDITAR' : 'CADASTRAR'}}</span></h1>
    <div class="conteudo" layout="row" layout-wrap class="padded" ng-cloak ng-init="initEdit()">
        <div flex="10">
            <md-input-container class="md-block">
                <label>ID</label>
                <input ng-model="produto.id" disabled/>
            </md-input-container>
        </div>
        <div flex="90" />
        <div flex="55">
            <md-input-container class="md-block">
                <label>Descrição</label>
                <input maxlength="60" minlength="1" ng-model="produto.descricao" required/>
            </md-input-container>
        </div>
        <div flex="15">
            <md-input-container class="md-block">
                <label>Valor</label>
                <input ng-model="produto.valor" ui-money-mask required/>
            </md-input-container>
        </div>
        <div flex="15">
            <md-input-container class="md-block">
                <label>Quantidade</label>
                <input ng-model="produto.quantidade" type="number" required/>
            </md-input-container>
        </div>
        <div flex="15">
            <md-input-container class="md-block">
                <label>Marca</label>
                <input ng-model="produto.marca" maxlength="30" minlength="1" required/>
            </md-input-container>
        </div>
        <div flex="50">
                <md-input-container class="md-block md-input-focused">
                    <label>Imagem</label>
                    <input type="file" onchange="angular.element(this).scope().encodeImageFileAsURL(this)" ng-model="produto.imagem"> </input>
                </md-input-container>
        </div>
        <div flex="50">
            <img src="{{produto.imagem}}" style="height: 100px; width: auto" ng-hide="!produto.imagem"/>
        </div>
        <div flex="100">
            <md-input-container class="md-block">
                <label>OBS</label>
                <input maxlength="255" minlength="0" ng-model="produto.obs" />
            </md-input-container>
        </div>
        <div flex="50">
            <img src="{{produto.qrCode}}" style="height: 100px; width: auto" ng-hide="!produto.qrCode"/>
        </div>
    </div>
    <div class="conteudo" layout="row" flex="100" class="padded">
      <div flex="40">
         <md-input-container class="md-block">
          <md-button type="submit" ng-disabled="produtoForm.$invalid" class="md-primary md-raised">&nbsp;&nbsp;<i class="fa fa-floppy-o"></i> {{produto.id ? 'Salvar' : 'Cadastrar'}}&nbsp;&nbsp;</md-button>
          <md-button ng-click="geraQrCode()" ng-disabled="!produto.descricao" class="md-primary md-raised">&nbsp;&nbsp;<i class="fa fa-qrcode"></i> Gerar QrCode</md-button>
      </md-input-container>
    </div>
    <div flex="60" style="text-align: right;">
        <md-input-container class="md-block" style="float: right;">
            <md-button ng-click="voltar()" class="md-primary md-raised">&nbsp;&nbsp;<i class="fa fa-arrow-circle-o-left"></i>&nbsp;&nbsp;Voltar&nbsp;&nbsp;</md-button>
        </md-input-container><br><br>
    </div>
  </div>
</form>