 <h1 class="titulo">Supermercado <span class="subtitulo">. {{supermercado.id ? 'EDITAR' : 'CADASTRAR'}}</span></h1>
   <form layout="row" name="supermercadoForm" layout-wrap ng-submit="salvar(supermercado)" novalidate>
        <div class="conteudo" layout="row" layout-wrap class="padded" ng-cloak ng-init="initEdit()">
            <div flex="10">
                <md-input-container class="md-block">
                    <label>ID</label>
                    <input ng-model="supermercado.id" disabled/>
                </md-input-container>
            </div>
            <div flex="25">
                <md-checkbox ng-model="supermercado.indicadorUso" class="md-primary" ng-true-value="1" ng-false-value="2">
                    Ativo
                 </md-checkbox>
            </div>
            <div flex="70">
                <md-input-container class="md-block">
                    <label>Razão Social</label>
                    <input maxlength="60" ng-model="supermercado.razaoSocial" required/>
                </md-input-container>
            </div>
            <div flex="30">
                <md-input-container class="md-block">
                    <label>CNPJ</label>
                    <input maxlength="18" ng-model="supermercado.cnpj" ui-br-cnpj-mask required/>
                </md-input-container>
            </div>
            <div flex="10">
                <md-input-container class="md-block">
                    <label>CEP</label>
                    <input ng-model="supermercado.endereco.cep.codigo" ui-mask="99999-999" ui-mask-placeholder ui-mask-placeholder-char="_" required/>
                </md-input-container>
            </div>
            <div flex="40">
                <md-input-container class="md-block">
                    <label>Rua</label>
                    <input maxlength="60" ng-model="supermercado.endereco.rua" required/>
                </md-input-container>
            </div>
            <div flex="10">
                <md-input-container class="md-block">
                    <label>N°</label>
                    <input maxlength="5" ng-model="supermercado.endereco.numero" required/>
                </md-input-container>
            </div>
            <div flex="40">
                <md-input-container class="md-block">
                    <label>Complemento</label>
                    <input ng-model="supermercado.endereco.complemento"/>
                </md-input-container>
            </div>
            <div flex="25">
                <md-input-container class="md-block">
                    <label>Bairro</label>
                    <input maxlength="30" ng-model="supermercado.endereco.bairro.nome" required/>
                </md-input-container>
            </div>
            <div flex="25">
                <md-input-container class="md-block">
                    <label>Municipio</label>
                    <input maxlength="40" ng-model="supermercado.endereco.municipio.nome" required/>
                </md-input-container>
            </div>
            <div flex="10">
                <md-input-container class="md-block">
                    <label>UF</label>
                    <input minlength="2" maxlength="2" ng-model="supermercado.endereco.municipio.uf" required/>
                </md-input-container>
            </div>
            <div flex="40">
                <md-input-container class="md-block md-input-focused">
                    <label>Logo</label>
                    <input type="file" onchange="angular.element(this).scope().encodeImageFileAsURL(this)" ng-model="supermercado.logo"> </input>
                </md-input-container>
            </div>
            <div flex="100">
                <img src="{{supermercado.logo}}" style="height: 100px; width: auto;" ng-hide="!supermercado.logo"/>
            </div>
            <div flex="30">
                <md-input-container class="md-block">
                    <md-button type="submit" ng-disabled="supermercadoForm.$invalid" class="md-primary md-raised">
                      &nbsp;&nbsp;<i class="fa fa-floppy-o"></i> &nbsp;&nbsp;{{supermercado.id ? 'Salvar' : 'Cadastrar'}}&nbsp;&nbsp;
                    </md-button>
                    <md-button ng-click="limpar()" class="md-primary md-raised">&nbsp;&nbsp;<i class="fa fa-eraser"></i> &nbsp;&nbsp;Limpar&nbsp;&nbsp;</md-button>
                </md-input-container><br><br>
            </div>
            <div flex="70" style="text-align: right;">
                <md-input-container class="md-block" style="float: right;">
                    <md-button ng-click="voltar()" class="md-primary md-raised">&nbsp;&nbsp;<i class="fa fa-arrow-circle-o-left"></i>&nbsp;&nbsp;Voltar&nbsp;&nbsp;</md-button>
                </md-input-container><br><br>
            </div>
        </div>

        </form>
        
